.grid{
  display: grid;
}
.grid-flow-col{
  grid-auto-flow: column;
}
.grid-cols-2{
  grid-template-columns: 1fr 1fr ;
}
.gap-8{
  gap: 8px;
}
.gap-80{
  gap: 80px;
}
.gap-16{
  gap: 16px;
}
.gap-24{
  gap: 24px;
}
.subtitle{
  font: var(--subtitle);
  color: var(--red);
}
.text-md{
  font: var(--text-md);
}
.text-sm{
  font: var(--text-sm);
}
